*.pyc
*.dat
*.log
venv/
dist/
__pycache__/
build/
.idea/
temp/
my_project/
save_dir/
PyQtBegin.exe
PyQtBeginEx.exe
download/
tool/
*.spec
tb_gc/template/import_dir.conf
tb_gc/template/ztx_project.db
tb_yhcg/template/import_dir.conf
tb_yhcg/template/ztx_project.db
tb_qz/template/import_dir.conf
tb_qz/template/ztx_project.db
tb_qz_micro/template/import_dir.conf
tb_qz_micro/template/ztx_project.db
tb_18_micro/template/import_dir.conf
tb_18_micro/template/ztx_project.db
tb_tl/template/import_dir.conf
tb_tl/template/ztx_project.db
tb_temp_18/
tb_temp/
tb_json/
version.txt
ztx.log
.DS_Store

ztx_pack/files/
ztx_pack/pre/pre_gc/template/
ztx_pack/pre/pre_qz/template/
ztx_pack/pre/pre_qz_micro/template/
ztx_pack/pre/pre_tl/template/
ztx_pack/pre/pre_yhcg/template/
ztx_pack/pre/pre_gc/PyQtBegin.exe
ztx_pack/pre/pre_qz/PyQtBegin.exe
ztx_pack/pre/pre_qz_micro/PyQtBegin.exe
ztx_pack/pre/pre_tl/PyQtBegin.exe
ztx_pack/pre/pre_yhcg/PyQtBegin.exe
ztx_pack/pre/install_package/install_yhcg/Update.exe
ztx_pack/pre/install_package/install_gc/Update.exe
ztx_pack/pre/install_package/install_qz/Update.exe
ztx_pack/pre/install_package/install_tl/Update.exe
ztx_pack/pre/install_package/install_qz_micro/Update.exe

project.egg-info/
logs/
files/

read_me_for_local.md
ztx_spider/cheshi.html
tb_gc/.vscode/settings.json
ztx_spider/.vscode/settings.json
ztx_spider/.vscode/launch.json
