# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

# version test pro

[settings]
default = spider_pro.settings

[deploy:data-server]
url = http://114.67.84.76:8060/
project = spider_pro
version = 1.0
